paragraph {
  display:block;
  background-color:#FFFFFF;
  font-family:Arial, Helvetic, sans-serif;
  padding:20px;
}
paragraph:before {
  display:block;
  background-color#CCCCCC;
  font-weight:bold;
  color:#0000FF;
  content:"Cross reference:" attr(xref);
}
paragraph:after {
  font-style:italic; 
  color:#0000FF;
  content:"Key words: " attr(keyWords);
}


