title{
  display:block;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}
paragraph {
  display:block;
  padding:10px;
  margin: 10px;
}
link {
  color: #0000FF;
  text-decoration: underline;
}





