body, p {
	font-weight:normal;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 24px;
	text-align: center;
	color: #829CCF;
}
h2 {
    font-weight: bold;
    font-size: 20px;
	text-align: center;
	color: #CF829C;
}
hr {
	width: 100%;
	color: #2E436B;
}
.centered {
	text-align: center;
}
.footer {
	font-size: 10px;
	text-align: center;
}